/Liquidaciones/target/
/EstadoDeCuenta/build/
/EstadoDeCuenta/dist/
/GeneraReportes/nbproject/
/GeneraReportes/target/
/GestionFideicomisos/.settings/
/GestionFideicomisos/target/
/LiquidacionRiesgosLaborales/nbproject/
/LiquidacionRiesgosLaborales/nbproject/
/Nomina12/target/
